@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.icon-bar:nth-child(1) {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  background-color: white;
}
.icon-bar:nth-child(2) {
  display: block;
  width: 15px;
  height: 4px;
  margin: 2px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  background-color: white;
}
.icon-bar:nth-child(3) {
  display: block;
  width: 20px;
  height: 4px;
  margin: 2px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  background-color: white;
}
