@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.icon-bar:nth-child(1) {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  background-color: white;
}
.icon-bar:nth-child(2) {
  display: block;
  width: 15px;
  height: 4px;
  margin: 2px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  background-color: white;
}
.icon-bar:nth-child(3) {
  display: block;
  width: 20px;
  height: 4px;
  margin: 2px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  background-color: white;
}

.hero__item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #111;
  border: 4px solid #333;
  height: 360px;
  margin-bottom: 40px;
  transition: all 0.4s ease-out;
  font-size: 30px;
}

.hero__item:last-child {
  margin: 0;
}

.hero__item.active {
  border: 4px solid #0047ffaa;
  box-shadow: 0 0 20px #0332ad;
}
